<div class="modal fade" tabindex="-1" id="modal-get-show-id">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-3">
          <i class="fa-solid fa-circle-question"></i> How to get a Show ID?
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          A show ID lays at the show page URL address. You can find it by
          looking for the pattern <kbd>?id=</kbd> followed by a number in the
          page of the Show that you want to grab it's ID.
        </p>
      </div>
    </div>
  </div>
</div>
