:root {
  --body: #090b19;
  --navbar: #10132f;
}

body {
  background-color: var(--body);
}

.bubble {
  position: relative;
  width: 355px;
  height: 160px;
  padding: 4px;
  background: #10132f;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.bubble:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent #10132f;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -20px;
  right: -20px;
  top: 70%;
}

/* || Bootstrap Extent */

.bg-nablem-navbar {
  background-color: var(--navbar);
}

.bg-nablem-body {
  background-color: var(--body);
}

/* || Bootstrap Extent -> Animations */

.anim-fade-down {
  animation: anim-fade-down 0.5s ease-in-out forwards;
}

@keyframes anim-fade-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

/* || Navbar */

.navbar {
  color: white;
  background-color: var(--navbar);
}

/* || Shows Selector -> Outdoor */

.outdoor {
  background: url(/src/imgs/iso.png) no-repeat 112%;
  background-size: 70vw;
  margin: 0 0 32px;
  overflow: hidden;
  animation: outdoor-bg-appear 1s ease-in-out forwards;
}

@keyframes outdoor-bg-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background-position-x: 100%;
  }
}

.outdoor-content {
  padding: 70px 80px;
  box-shadow: 4px 0 12px 8px var(--body);
}

.outdoor-content-animated {
  animation: outdoor-content-items-appear 1s ease-in-out forwards;
}

@keyframes outdoor-content-items-appear {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.outdoor-content p {
  max-width: 250px;
}

/* || Shows Selector -> Categories */

.categories-list {
  position: relative;
  flex-wrap: nowrap;
  overflow-x: auto;
  list-style: none;
}

.categories-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  list-style: none;
}

.category-show {
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  height: 140px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.category-show img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* || Search Page -> Title */

#search-title svg,
.loading {
  animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* || Show Display -> Quick Links */

.quick-links {
  text-align: right;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.quick-links svg {
  width: 12px;
  margin-top: -3px;
  margin-right: 4px;
}

.quick-links a {
  margin: 0 4px;
  text-decoration: none;
  color: white;
}

.quick-links a:hover {
  text-decoration: underline;
}

/* || Show Display -> Episodes / Chapters */

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 220px;
  overflow: auto;
}

.episode-link {
  display: block;
  text-decoration: none;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.episode-link:hover {
  transform: scale(95%);
}

.episode-thumb {
  width: 100%;
  max-width: 100%;
  border-radius: 16px;
}

.episode-index {
  margin-top: 8px;
  margin-left: 12px;
  font-size: 0.8rem;
}
